@import url('https://fonts.googleapis.com/css?family=Roboto');

.mini-reviewer-card-container {
    font-family: 'Roboto';
    font-size: 12;
    color: #0070A8 !important;
}

.bold-font {
    font-weight: 800;
}

.mini-card {
    border: 5px solid #0070A8;
}